@import "style.css";
@import "/fontawesome/css/all.min.css";

body {
	text-align: center;
}
h2 {
	text-align: left;
}
h4 {
	color: #00000080;
	margin-top: 0%;
	float: right;
	text-align: right;
	font-weight: 400;
	font-style: italic;
}
.content a {
	color: inherit;
}
h4 a:hover {
	font-weight: 900;
	text-decoration: underline;
}
i {
	font-weight: 400;
	margin-right: 6px;
}
.content img {
	float: left;
	margin-right: 8px;
	height: 20px;
}
.socials-note {
	margin-bottom: 0%;
	font-style: italic;
	color: #00000080;
	font-size:0.8rem
}

/*@media (prefers-color-scheme: dark) {
	h4, .socials-note {
		color: #ffffff80;
	}
}*/

.lnk {
	font-weight: 500;
	font-size: 1.2rem;
	padding: 12px 12px;
	margin: 0% 5px;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
	border: none;
	border-radius: 8px;
	transition: ease-out 0.25s;
	transition-property: color background scale;
	box-shadow: 0 2px 3px #0006;
}
a.lnk {
	color: #fff;
}
.lnk:hover {
	scale: 1.1;
}
.lnk:active {
	scale: 1.05;
	transition: none;
}
/* Bluesky */
.lnk1 {
	background: #0085ff;
}
.lnk1:hover {
	background: #0062dc;
}
/* Mastodon */
.lnk2 {
	background: #595aff;
}
.lnk2:hover {
	background: #2728cd;
}
/* YouTube */
.lnk3 {
	background: #dd1f1d;
}
.lnk3:hover {
	background: #aa1816;
}
/* Odysee */
.lnk4 {
	background: #de0050;
}
.lnk4:hover {
	background: #ac001e;
}
/* DeviantArt */
.lnk5 {
	background: #00e59b;
}
.lnk5:hover {
	background: #00b279;
}
/* Newgrounds */
.lnk6 {
	background: #fda238;
}
.lnk6:hover {
	background: #e97526;
}
/* Discord */
.lnk7 {
	background: #5865f2;
}
.lnk7:hover {
	background: #444fbf;
}
/* Steam */
.lnk8 {
	background: #5a96d0;
}
.lnk8:hover {
	background: #43729e;
}
/* GitHub */
.lnk9 {
	background: #010409;
}
.lnk9:hover {
	background: #000;
}
/* Ko-fi */
.lnk10 {
	background: #ff5f5f;
}
.lnk10:hover {
	background: #c42b2b;
}