@import url("https://fonts.googleapis.com/css?family=Asap:400,i,500,600,b,bi");

@import "fontawesome/css/fontawesome.min.css";
@import "fontawesome/css/all.min.css";

:root {
	font-family: Asap, Arial, Helvetica, sans-serif, Twemoji Mozilla;
	background-color: rgb(4,21,13);
	background: linear-gradient(180deg, rgb(4,21,13) 0%, rgb(10,60,37) 100%) no-repeat center fixed;
	background-size: cover;
	color:white;
	scrollbar-color: rgb(10,60,37) rgb(4,21,13);
	scrollbar-width: thin;
	font-size: 1.0rem;
}
html {
	min-height: 100%;
	position:relative;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #ddd;
}
a:active {
	color: #aaa;
}
h2 {
    margin-top: 0;
    margin-bottom: 20;
}

body {
    margin: auto;
    text-align: justify;
    background: transparent !important;
}
header {
    position: -webkit-sticky; /* fix for Safari even tho it's very unlikely somebody will be visiting the site with safari unless they're using an iPhone or iPad */
    position: sticky;
    width: 100%;
    margin: auto;
    padding: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);;
}
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    font-size: 1.3rem;
    font-weight: 500;
    width: 90%;
}
nav li {
    float: right;
}
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    text-shadow: 0 3px 5px #000;
	transition: ease-out 0.25s color;
}
nav li a:hover {
    color: #bcb;
}
nav li a:active {
    color: #ada;
    transition: none;
}
video, audio {
    border-radius: 10px;
}

.logo a {
	font-size: 1.5rem;
	font-weight: 600;
    padding: 0;
    margin: 0 20px;
    margin-top: 17px;
}
.content {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 5px #000;
	margin:auto;
	width:87.5%;
    margin-top: 85 !important;
}
.content .footer {
	min-height: 100%;
	position:relative;
}
.content a {
    color: #000;
}
.content a:hover {
    font-weight: 500;
}
hr {
    border-top: 1px solid #000;
    border-bottom: none;
}
hr.majordiv {
    border-top: 2px solid #000;
}
video {
    background-color: #fff;
}
video, audio {
    margin-top: 5px;
    box-shadow: 0 3px 5px #0006;
}

/* dark mode! :D */
/* will be enabled later once i figure out a way to not force it to be auto */
/* @media (prefers-color-scheme: dark) {
    .content {
        background-color: #222;
        color: #fff;
    }
    .content a {
        color: #fff;
    }
    .content a:hover {
        color: #ccc;
    }
} */

/* mobile layout handling */
.btn {
    display: block;
    color: #fff;
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    text-shadow: 0 3px 5px #000;
	transition: ease-out 0.25s color;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    border: none;
}
.btn:hover, .btn:focus {
    color: #bcb;
    cursor: pointer;
}
.darkbtn button {
    padding: 25px 25px;
}
.dropbtn {
    display: none;
}
.dropmenu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 50%;
    box-shadow: 0 3px 5px #0003;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 0 0 0 10px;
}
.dropmenu a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    text-shadow: none !important;
    transition: ease-out 0.25s background;
}
.dropmenu a:hover {
    background-color: #bcb;
}
.dropmenu a:active {
    background-color: #ada;
    transition: none;
}
.droplastoption {
    border-radius: 0 0 0 10px;
}
.show {display:block;}

@media screen and (max-width:800px) {
    .dropbtn {
        display: block;
    }
    .desknav {
        display: none;
    }
}

/* temporary footer css */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 auto;
	margin:auto;
	width:90%;
}
.currentver {
    display: block;
    text-shadow: 0 2px 3px #000;
    margin: 15px 5pt;
}
.fakecrdate {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex: 0 0 auto;
    margin: 15px 5pt;
    text-shadow: 0 2px 3px #000;
}


