:root {
	font-family: Asap, Arial, Helvetica, sans-serif, Twemoji Mozilla;
	background: rgb(4,21,13);
	background: linear-gradient(180deg, rgb(4,21,13) 0%, rgb(10,60,37) 100%) no-repeat center fixed;
	background-size: cover;
	color:white;
	scrollbar-color: rgb(10,60,37) rgb(4,21,13);
	scrollbar-width: thin;
}
html {
	min-height: 100%;
	position:relative;
}
body {
    background: transparent !important;
	margin-top: 85 !important;
	margin:0;
}
.content {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15 15;
    box-shadow: 0 3px 5px #000;
	margin:auto;
	width:87.5%;
}
.content .footer {
	min-height: 100%;
	position:relative;
}
.logo {
	font-family: block;
	font-size: 2.8rem;
	font-weight: 600;
	display: inline;
	float: left;
	padding: 16 10;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #ddd;
}
header {
	position: fixed;
	top:0;
	width: 100%;
	min-height:auto;
	margin:auto;
	background:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:90%;
	margin:auto;
}
.menu-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menu-items a {
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: 500;
	display: inline;
	float: right;
	margin: 32 20 0 20;
	white-space: nowrap;
	text-shadow: 0 3px 5px #000;
	transition: ease-out 0.25s;
	transition-property: color;
}
h2 {
    margin: 0 0 20 0;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 auto;
	margin:auto;
	width:90%;
}
.currentver {
    display: block;
    margin: 15 5;
    text-shadow: 0 2px 3px #000;
}
.fakecrdate {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex: 0 0 auto;
    margin: 15 5;
    text-shadow: 0 2px 3px #000;
}